body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.header, .footer {
    display: flex;
    padding: 16px;
    background: #1f2937;
}

.header {
    justify-content: space-around;
    padding-bottom: 10vh;
}

.footer{
    background: #1f2937;
    color: white;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 32px;
}

ul {
    display: flex;
    gap: 16px;
    list-style: none;
    align-items: center;
    
}

a {
    text-decoration: none;
    color: white;
}

.left-links a{
    font-size: 24px;
    color: white;
    font-weight: bold;
}

.right-links a{
    color: lightgray;
    margin: 0;
    padding: 0;
}

.hero {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    gap: 250px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    color: white;
    flex-basis: 450px;
    text-align: left;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin: 0px;

}

.hero-text p{
    font-size: 18px;
    color: #E5E7EB;
}

.hero-text button {
    display: block;
    text-align: center;
    width: 110px;
    border: none;
    background: #3882f6;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.hero-image img {
    width: 550px;
    height: 325px;
    padding-bottom: 100px;
}

.content {
    align-items: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.content h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
    padding-bottom: 18px;
}

.card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card p {
    max-width: 200px;
    padding-left: 20px;
}

.card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 5px solid #3882F6;
    border-radius: 20px;
    margin: 5px 20px 0px 20px;
}

